@import url("../../palette.css");
.form-container {
  display: grid;
  width: 100%;
  justify-content: center;
  margin: 25px;
  padding: 50px;
}
.container{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
;
  border-radius: 8px;
  border-style: ridge 5px;
  margin-top:25px;

}
.container form {
  background-color:rgb(31, 31, 187);
  color:white;
}

.form {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  grid-template-columns: 5fr;
  border-color: black;
  border-style: ridge 5px;
  padding: 20px;
  background-color: rgb(4, 4, 61);
  
}

.form input[type="text"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
}

.formlabel {
  color: white;
}

.form button[type="submit"] {
  border-radius: 4px;
  background-color: #007bff;
  
}

.form button[type="submit"]:hover {
  cursor: pointer;
  background-color: blue;
  
}
.buttonLayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px;
  
  margin: 0px;
}

label {
  display: block;
  margin-bottom: 5px;
}


