/* Define color variables */
:root {
  /* Primary Color */
  --primary-color: #003366; /* Deep Blue */

  /* Secondary Color */
  --secondary-color: #708090; /* Slate Gray */

  /* Accent Color */
  --accent-color: #008080; /* Teal */

  /* Background Color */
  --background-color: #FFC75D; /* Mustard Yellow */

  /* Text Color */
  --text-color: #36454F; /* Dark Slate Gray */

  /* Additional Colors */
  --complementary-color-1: #800080; /* Plum */
  --complementary-color-2: #009933; /* Forest Green */
  --complementary-color-3: #CC6600; /* Burnt Orange */
  --complementary-color-4: #6600CC; /* Electric Indigo */
  --complementary-color-5: #FF6600; /* Orange Red */
  --complementary-color-6: #0066CC; /* Dodger Blue */
  --complementary-color-7: #990099; /* Purple */
  --complementary-color-8: #FF00FF; /* Fuchsia */
  --complementary-color-9: #669900; /* Green Yellow */
  --complementary-color-10: #FF0000; /* Red */
}
