/* Define color variables */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
li,h1,h2,p1,p,p2,label {
  user-select: none;
}
:root {
  --header-height: 120px;
  --header-height2: calc(var(--header-height) + 27px);
  /* Primary Color */
  --primary-color: rgb(84, 98, 180); /* Ocean Blue */
  /* Secondary Color */
  --secondary-color: #555555; /* Dim Gray */
  /* Accent Color */
  --accent-color: #cc0066; /* Raspberry */
  /* Background Color */
  --background-color: #ffffff; /* Light Silver */
  /* Text Color */
  --text-color: #333333; /* Dark Gray */
  /*  HERO AND HEADER */
  --header-bckgrnd-clr: var(--background-color);

  /* Main Navbar pallete */
  --primary-text-color: black;
  --navbar-background1: #f9f9f9; /* White Smoke */
  --navbar-background2: #8d0a0a; /* Dark Gray */
  --navbar-buttons-color: #ffffff; /* White */
  --navbar-buttons-background: var(--primary-color); /* Ocean Blue */
  --navbar-button-login-background: #66cc99; /* Light Green */
  --myfont: "Roboto", sans-serif;
  --navbar-brd-clr:grey;

  /* Logged in operation Navbar pallete */
  --operation-navbar-background:white;
  --operation-navbar-but-back-clr:var(--header-bckgrnd-clr);
  --operation-submenu-background:var(--primary-color);
  --operation-submenu-background-hvr:rgb(21, 32, 95);
  --operation-submenu-txt-color:white;
  --operation-submenu-box-shadow:0px 8px 16px 0px rgba(0, 0, 0, 0.2);

  
  /* REGISTRATION AND LOGIN FORM */
  --frm-reg-log-bgrnd-clr: rgb(31, 31, 187);
  --frm-reg-log-heading-clr: white;
  --frm-reg-log-lbl-color: white;
  --frm-reg-log-but-clr: #007bff;
  --frm-reg-log-but-clr-hvr: blue;

  /* Internal Form   */
  --frm-background-color: white;
  --frm-border-style-and-color: 1px solid grey;
  --frm-label-font-color: Blue;
  --frm-txt-border: 1px solid #ccc;

  /* Data Lists Colors */
  --inv-hover-background-color: #71b676; /* Light Coral */
  --inv-column-headings-background-color: var(--navbar-background2);
  --inv-col-headings-text: #ffffff; /* White */
  --inv-items-text: #000000; /* Black */
  --inv-item-row-border-bottom: #383838; /* Dark Gray */
  --data-list-background: lightgreen;

  /* Gradients and Special Effects */
  --gradient-primary: linear-gradient(to right, #0077cc, #33aaff); /* Gradient from Ocean Blue to Sky Blue */
  --gradient-secondary: linear-gradient(to right, #555555, #777777); /* Gradient from Dim Gray to Gray */
  --gradient-accent: linear-gradient(to right, #cc0066, #ff66aa); /* Gradient from Raspberry to Pink */
  --gradient-background: linear-gradient(to right, #f5f5f5, #dddddd); /* Gradient from Light Silver to Silver */
}
