/* Define color variables */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "./global.css";
:root {
  --gradient-primary: linear-gradient(to right, #0077cc, #33aaff); /* Gradient from Ocean Blue to Sky Blue */
  --gradient-secondary: linear-gradient(to right, #555555, #777777); /* Gradient from Dim Gray to Gray */
  --gradient-accent: linear-gradient(to right, #cc0066, #ff66aa); /* Gradient from Raspberry to Pink */
  --gradient-background: linear-gradient(to right, #f5f5f5, #dddddd); /* Gradient from Light Silver to Silver */
  /* Primary Color */
  --primary-color: rgb(84, 98, 180); /* Ocean Blue */
  /* Secondary Color */
  --secondary-color: #8d0a0a; /* Dim Gray */
  /* Accent Color */
  --accent-color: #cc0066; /* Raspberry */
  /* Background Color */
  --background-color: #ffffff; /* Light Silver */
  /* Text Color */
  --text-color: #750606; /* Dark Gray */

  --hover-button: blue;

  /* \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/
 
            HERO AND HEADER */
  --header-bckgrnd-clr: var(--background-color);
  --header-bck-grnd-clr: var(--background-color);
  --header-txt-color: var(--primary-text-color);
  --heading-main-txt-clr: var(--primary-color);
  --heading-main-bottom-border-color:green;
  
  /* /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\  */

  /* \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/

              Main Navbar pallete 
  */
  --primary-text-color: var(--text-color);
  --navbar-background1: #8365c7; /* White Smoke */
  --navbar-background2: var(--secondary-color);
  --navbar-buttons-color: #ffffff; /* White */
  --navbar-buttons-background: var(--primary-color); /* Ocean Blue */
  --navbar-button-login-background: #66cc99; /* Light Green */
  --myfont: "Roboto", sans-serif;
  --navbar-brd-clr: grey;
  --background-to-try: radial-gradient(70% 108% at 90% 50%, #ff00f5, #540880);
  /* /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\  */

  /* \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ 
            Logged in operation Navbar pallete 
            
            */
  --operation-navbar-background: white;
  --operation-navbar-but-back-clr: var(--primary-color);
  --operation-submenu-background: var(--primary-color);
  --operation-submenu-background-hvr: rgb(21, 32, 95);
  --operation-submenu-txt-color: white;
  --operation-menu-txt-clr: white;
  --operation-submenu-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /* /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\  */

  /* \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ 
         REGISTRATION AND LOGIN FORM */
  --frm-reg-log-bgrnd-clr: rgb(31, 31, 187);
  --frm-reg-log-heading-clr: white;
  --frm-reg-log-lbl-color: white;
  --frm-reg-log-but-clr: #007bff;
  --frm-reg-log-but-clr-hvr: var(--hover-button);
  /* /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\  */

  /* \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ 

                Internal Form   */
  --frm-background-color: white;
  --frm-border-style-and-color: 1px solid grey;
  --frm-label-font-color: Blue;
  --frm-txt-border: 1px solid #ccc;
  /* /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\  */

  /* \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ 
                         Data Lists Colors */
  --inv-item-background-color-hvr: #71b676; /* Light Coral */
  --inv-column-headings-background-color: var(--navbar-background2);
  --inv-col-headings-text: #ffffff; /* White */
  --inv-items-text: #000000; /* Black */
  --inv-item-row-border-bottom: #383838; /* Dark Gray */
  --data-list-background: rgb(243, 247, 243);
  --data-list-item-border-clr: 1mm ridge rgba(229, 238, 230, 0.6);
  /* /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\  */

  /* \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ 
                         The Data component
                         inventory-data-row-container
                         
                         */
  --data-row-column-header-text-color: blue;
  --data-row-column-subtext-text-color: black;

  /* /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\  */

  /* \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ 
                         Data Forms 
                         These forms appear in any of the users views for them to add to the database
                         
                         */
  --operations-frm-background-color: white;

  /* /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\  */
}
