/* NavigationBar.css */

.bannerImg {
  width: 100%;
  height: auto;
  object-fit: cover;
  position:absolute;
}
.banner-container {
  position: sticky;
  z-index:1000;
  top: 0;
  width: 100%; /* Adjust the width as needed */
  height: 150px; /* Adjust the height as needed */
  background-color: rgb(88, 11, 11);
  display:grid;
  grid-template-columns: 15fr 2fr;
  margin-bottom:10%;
  align-items: center;
}

