/* NavigationBar.css */
.navigation-buttons {
  position: absolute;

  /* Add more styling for your buttons here */
}
.navigation-buttons button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Slightly larger shadow on hover */
}
.navigation-buttons button {
  background-color: #3498db; /* A vibrant blue */
  border: none;
  color: red;
  padding: 10px 20px;
  text-transform: uppercase;
  margin: 0 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.navigation-header {
  background-color: blue;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 0px;
  width: 100%;

}
.navigation-header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.navigation-header li {
  font-size: 2px ;
  display: flex;
}

.navigation-header button {
  background-color: white;
  color: blue;
  padding: 1px;
  margin:0;
  border: solid 1px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 12px;
}
.navigation-header button:hover {
  background-color: #45a049;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navigation-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .navigation-header ul {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .navigation-header li {
    width: 100%;
    margin: 5px 0;
  }
  .mobbutton {
  }
  .resbutton {
    font-size: 28px;
  }
  .navigation-header button {
    width: 100%;
    text-align: left;
    font-size: 25px;
  }
}