.categories_container {
  width: 200px; /* Example width, adjust as needed */
  border-style: solid;
  border-color: blue;
  position: relative; /* This is important for positioning the dropdown */
}
.catlist {
  position: absolute;
  width: 100%; /* Make the dropdown match the container's width */
  top: 100%; /* Position directly below the heading */
  left: 0;
  background-color: yellow;
  border: 1px solid #ccc;
  overflow: hidden;
  max-height: 0; /* Initially hidden */
  opacity: 0; /* Initially transparent */
  transition: max-height 0.5s ease-out, opacity 0.5s ease;
  z-index: 1; /* Ensure it's above other content */
}
.catHeading {
  color: black;
  background-color: white;
  cursor: pointer;
  margin:0;
}
.catlist ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.catlist li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  color: blue;
  cursor: pointer;
}
.catlist.visible {
  max-height: 500px; /* Adjust based on content */
  opacity: 1;
}
.catlist li:last-child {
  border-bottom: none;
}
.catlist li:hover {
  background-color: #e9e9e9;
}
/* Show the list when categories_container is hovered */
.categories_container:hover .catlist {
  display: block;
}
