@import url("../../../palette.css");
.YourInventoryNavBar-container{
    position:sticky;
    top:136px;
    z-index:1000;
    background-color:var( --background-color);
    display: flex;
    font-size:12px;
}
.YourInventoryNavBar-container h1{
    font-size:16px;
}
.theListContainer {
    
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
   
}
.theListContainer button{
    margin-top:2px;
    margin-bottom:2px;
    border:none;
    border-right:solid 1px;
    border-bottom:solid;

}
.currentNavbarTitle{
    display:grid;
    grid-template-columns: columns;
}
.eachListItem {
    position: relative;
    /* Needed for absolute positioning of submenu */
    
    /* Space between menu items */
}

.eachListItem p {
    margin: 0;
    /* Reset default margins */
    padding: 5px;
    color: black;
    cursor: pointer;
}

/* Correctly show the submenu when hovering over the .eachListItem */
.eachListItem:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #f9f9f9;
    /* Example background color */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /* Optional: for a dropdown effect */
    z-index: 10;
    /* Ensures the submenu is on top of other content */
}

.eachsubListItem p {
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    display: block;
    text-align:left;
    
}

.eachsubListItem p:hover {
    background-color: #f1f1f1;
    /* Hover color for submenu items */
}