@import url("../../../palette.css");
/* *{
  border-style:solid;
  border-width:1px;
  border-color:red;
} */
.header-container {
  width: 100%;
  position:sticky;
  top:0;
  z-index:1000;
  background:var( --header-bckgrnd-clr);
}
