/* Hero.css */
@import url("../../../palette.css");

.hero-content {
  background-color: var(--header-bck-grnd-clr);
  width:100%;
}
.mainHeadingText{
  color:var(--heading-main-txt-clr)
}
.textContainer{
  margin-left:5px;
  display:inline;
}