/* Hero.css */
@import url("../../../palette.css");

.hero-content {
  background-color: var(--header-bck-grnd-clr);
  width:100%;
  display:flex;
  
}
.img-wrapper{
  width:50px;
  height:50px;

}
.logo-img{
  width:100%;
  height:100%;
  object-fit:cover;
}
.mainHeadingText{
  color:var(--heading-main-txt-clr)
}
.textContainer{
  margin-left:5px;
  display:inline;
}