/* Hero.css */
@import url("./palette.css");

.hero-content {
  background-color: white;
  width:100%;
  color:black;
  display:flex;
}
.hero-content p,h1 {
  color:black;
}
.textContainer{
  margin-left:5px;
  display:inline;
}
.ptext{
  margin-left:300px;
}


